{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Search Results {% endblock %}
{% block content %}

<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Doors, Drive-Train, Color etc)" value="{{values.keywords}}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Address</label>
                <input type="text" name="address" class="form-control" placeholder="Address" value="{{ value.address }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Body Type</label>
                <select name="bodyType" class="form-control">
                	<option selected="true" disabled="disabled">Body Type (All)</option>
	                  {% for key,value in bodyType_choices.items %}
	                  		<option value="{{key}}"
	                  		{% if key == values.bodyType %}
	                  			selected
	                  		{% endif %} 
	                  		>{{value}}</option>
	                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Make</label>
                <select name="make" class="form-control">
                  <option selected="true" disabled="disabled">Make (Any)</option>
                  {% for key,value in make_choices.items %}
                  	<option value="{{key}}"
	                  {% if key == values.make %}
	                  	selected
	                  {% endif %}
                  	>{{value}}</option>
                  {% endfor %}

                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">Max Price (All)</option>
                  {% for key,value in price_choices.items %}
                  	<option value="{{key}}"
	                  {% if key == values.price %}
	                  	selected
	                  {% endif %}
                  	>{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'cars' %}">Browse cars</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
          {% if cars %}
            {% for car in cars %}
              <div class="col-md-6 col-lg-4 mb-4">
                <a href="{% url 'car' car.id %}" style="text-decoration:none;">
                <div class="card listing-preview">
                  <img class="card-img-top" src="{{car.photo_main.url}}" alt="">
                  <div class="card-img-overlay">
                    <h2>
                      <span class="badge badge-secondary text-white">$ {{car.price | intcomma }}</span>
                    </h2>
                  </div>
                  <div class="card-body">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{car.title}}</h4>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i> {{ car.address }}</p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                      <div class="col-7">
                        <i class="fas fa-industry"></i> {{ car.make  }}</div>
                      <div class="col-5">
                        <i class="fas fa-car"></i> {{ car.bodyType }}</div>
                    </div>
                    <div class="row py-2 text-secondary">
                      <div class="col-7">
                        <i class="fas fa-tachometer-alt"></i> {{ car.mileage }} mi</div>
                      <div class="col-5">
                        <i class="fas fa-cog"></i> {{ car.driveTrain }}</div>
                    </div>
                    <hr>
                    <div class=" py-2 text-secondary text-center">
                      
                        <i class="fas fa-user"></i> Salesperson: {{ car.salesman }}

                     
                    </div>
                  </div>
                </div>
              </a>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-md-12">
              <p>No Cars Available</p>
            </div>
          {% endif %}
        </div>
  </section>
{% endblock %}